In [14]:
import pandas as pd
import numpy as np
import scipy 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import precision_score, recall_score,roc_auc_score, accuracy_score, f1_score
from sklearn.naive_bayes import GaussianNB, CategoricalNB, MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from random import randint

%matplotlib inline

In [7]:
df = pd.read_csv('data.csv',index_col=0)
df.columns

Index(['location', 'country', 'gender', 'age', 'vis_wuhan', 'from_wuhan',
       'symptom1', 'symptom2', 'symptom3', 'symptom4', 'symptom5', 'symptom6',
       'diff_sym_hos', 'result'],
      dtype='object')

In [12]:
df.country.unique(),df.location.unique()

(array([ 8, 11, 18, 21, 23, 24, 28, 29, 32, 33,  2,  7,  6, 12, 30, 13, 17,
        31, 14, 22, 10, 25, 26,  5, 15, 16, 20, 19,  4,  3,  0,  1,  9, 27],
       dtype=int64),
 array([104, 101, 137, 116,  23, 105,  13, 100, 135,  53,  71,  67,  29,
         35, 102,  83,  33,  42,  39,  52,  41,  54,  46,  31, 103, 132,
         47,  99,  40,  17,  88,  27,   6,   4, 109,  96,  25,  68,  79,
         76,  18,  70,  16,  82, 117,   1,  80,  44,  87,  75,  51,  64,
         37,  22, 128,  86,  56,  95,  97,  78,  30,  59,  60,  49,  77,
         32,  73, 106, 108,  98, 110, 114,  19,   8,  74, 131, 113,  38,
        115, 126, 127, 125,  92, 107, 118, 124,  90,  12,  28,   9, 120,
         85,  36,  93,  43, 121,  45, 133, 119,  58,  63,  62, 138,  26,
        130,  81,  94, 134,  69, 122,  84, 129,  57,   2,  89,  65, 112,
         11,  72,  20,   5, 123,  21, 136,  55,  14,   7,  91, 111,  34,
         50,  66,  61,  10,  48,   0,   3,  24,  15], dtype=int64))

In [3]:
for i in range(len(df)):
    df.iloc[i, 12] = df.iloc[i,12]*-1 if df.iloc[i, 12] < 0 else df.iloc[i, 12]
         #df['gender']
df['diff_sym_hos'].unique()

array([ 8,  0, 13,  6,  5,  4,  1,  2,  7, 12, 15,  3,  9, 10, 14, 11])

In [4]:
df['gender'].value_counts()

1    389
0    302
2    172
Name: gender, dtype: int64

In [5]:
df['age'] = df['age'].astype('int64')
df['age'].mask((df['age'] <= 20), 0, inplace=True)
df['age'].mask((df['age'] > 20) & (df['age'] <= 40), 1, inplace=True)
df['age'].mask((df['age'] > 40) & (df['age'] <= 60), 2, inplace=True)
df['age'].mask(df['age'] > 60, 3, inplace=True)
df

,location,country,gender,age,vis_wuhan,from_wuhan,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6,diff_sym_hos,result
0,104,8,1,3,1,0,14,31,19,12,3,1,8,1
1,101,8,0,2,0,1,14,31,19,12,3,1,0,0
2,137,8,1,2,0,1,14,31,19,12,3,1,13,0
3,116,8,0,2,1,0,14,31,19,12,3,1,0,0
4,116,8,1,2,0,0,14,31,19,12,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,48,3,2,1,0,0,14,31,19,12,3,1,0,1
859,0,0,2,1,0,0,14,31,19,12,3,1,0,0
860,3,1,1,2,0,0,14,31,19,12,3,1,0,0
861,24,9,1,2,0,0,14,31,19,12,3,1,0,0
862,15,27,1,3,0,0,14,31,19,12,3,1,0,0

In [6]:
x = df[['location', 'country', 'gender', 'age', 'vis_wuhan', 'from_wuhan',
       'symptom1', 'symptom2', 'symptom3', 'symptom4', 'symptom5', 'symptom6',
       'diff_sym_hos']]

y = df['result']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1,shuffle=True, random_state=42)
print(np.shape(X_train))
print(np.shape(X_test))
print(np.shape(y_train))
print(np.shape(y_test))

(776, 13)
(87, 13)
(776,)
(87,)

In [7]:
for i in range(len(df)):
    df.iloc[i, 2] = randint(0, 1) if df.iloc[i, 2] == 2 else df.iloc[i, 2]

In [8]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_predict = gnb.predict(X_test)
precision, recall = precision_score(y_test, y_predict), recall_score(y_test, y_predict)
roc_auc = roc_auc_score(y_test, y_predict)
F1 = 2 * (precision * recall) / (precision + recall)
print(y_predict)
print(y_test.values)
precision, recall, F1, roc_auc

[1 0 1 1 1 0 1 1 0 0 1 1 0 1 0 0 1 0 1 1 1 0 0 1 0 0 0 0 1 1 0 0 1 0 1 0 0
 0 0 1 0 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0
 1 1 0 1 0 1 0 0 0 0 0 0 0]
[0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0]

(0.3, 0.9, 0.45000000000000007, 0.8136363636363636)

y_1 = (y_train == 0).astype(int).sum()
y_0 = len(y_train) - y_1
print(y_0, y_1)
#print(y_train)
gnb = GaussianNB(priors=[y_0 / len(y_train), (y_1 / len(y_train))])
gnb.fit(X_train, y_train)
y_predict = gnb.predict(X_test)
precision, recall = precision_score(y_predict, y_test), recall_score(y_predict, y_test)
roc_auc = roc_auc_score(y_test, y_predict)
F1 = 2 * (precision * recall) / (precision + recall)
print(y_predict)
print(y_test.values)
precision, recall, F1, roc_auc

scaler = MinMaxScaler()
names = df.columns
result = scaler.fit_transform(df)
print(type(result))
df2 = {}
for i in range(14):
    df2[names[i]] = result[:,i]
print(type(df2))
df2 = pd.DataFrame(df2)
print(type(df2))

In [9]:
#scaler = MinMaxScaler()
#df['age'] = scaler.fit_transform(df['age'].to_numpy()[:,np.newaxis])[:,0]
#df

In [10]:
df['age'].unique()
df.dtypes

location        int64
country         int64
gender          int64
age             int64
vis_wuhan       int64
from_wuhan      int64
symptom1        int64
symptom2        int64
symptom3        int64
symptom4        int64
symptom5        int64
symptom6        int64
diff_sym_hos    int64
result          int64
dtype: object

In [11]:
gnb = MultinomialNB()
gnb.fit(X_train, y_train)
y_predict = gnb.predict(X_test)
precision, recall = precision_score(y_test, y_predict), recall_score(y_test, y_predict)
roc_auc = roc_auc_score(y_test, y_predict)
F1 = 2 * (precision * recall) / (precision + recall)
print(y_predict)
print(y_test.values)
precision, recall, F1, roc_auc

[1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 1 0 1 0 0 0 0 0 0 1 0 0]
[0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0]

(0.4, 0.4, 0.4000000000000001, 0.661038961038961)

In [12]:
gnb = CategoricalNB()
gnb.fit(X_train, y_train)
y_predict = gnb.predict(X_test)
precision, recall = precision_score(y_test, y_predict), recall_score(y_test, y_predict)
roc_auc = roc_auc_score(y_test, y_predict)
F1 = 2 * (precision * recall) / (precision + recall)
print(y_predict)
print(y_test.values)
precision, recall, F1, roc_auc

[1 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 1 0 0]
[0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0]

(0.45454545454545453, 0.5, 0.47619047619047616, 0.7110389610389609)

# habda 1

In [13]:
df1 = pd.read_csv('data.csv',index_col=0)
df1

,location,country,gender,age,vis_wuhan,from_wuhan,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6,diff_sym_hos,result
0,104,8,1,66.0,1,0,14,31,19,12,3,1,8,1
1,101,8,0,56.0,0,1,14,31,19,12,3,1,0,0
2,137,8,1,46.0,0,1,14,31,19,12,3,1,13,0
3,116,8,0,60.0,1,0,14,31,19,12,3,1,0,0
4,116,8,1,58.0,0,0,14,31,19,12,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,48,3,2,24.0,0,0,14,31,19,12,3,1,0,1
859,0,0,2,35.0,0,0,14,31,19,12,3,1,0,0
860,3,1,1,49.4,0,0,14,31,19,12,3,1,0,0
861,24,9,1,49.4,0,0,14,31,19,12,3,1,0,0
862,15,27,1,70.0,0,0,14,31,19,12,3,1,0,0

In [14]:
for i in range(len(df)):
    df1.iloc[i, 12] = df1.iloc[i,12]*-1 if df1.iloc[i, 12] < 0 else df1.iloc[i, 12]

In [15]:
x_cat = df1[['location', 'country', 'gender',  'vis_wuhan', 'from_wuhan',
       'symptom1', 'symptom2', 'symptom3', 'symptom4', 'symptom5', 'symptom6']]
x_num = df1[['diff_sym_hos', 'age']]
y = df1['result']
X_train_cat, X_test_cat, y_train_cat, y_test_cat = train_test_split(x_cat, y, test_size=0.1,shuffle=True, random_state=42)
X_train_num, X_test_num, y_train_num, y_test_num = train_test_split(x_num, y, test_size=0.1,shuffle=True, random_state=42)

In [16]:
x_cat = df1[['location', 'country', 'gender',  'vis_wuhan', 'from_wuhan',
       'symptom1', 'symptom2', 'symptom3', 'symptom4', 'symptom5', 'symptom6']]
x_num = df1[['diff_sym_hos', 'age']]
y = df1['result']

# cat train

In [17]:
cnb = CategoricalNB()
cnb.fit(X_train_cat, y_train_cat)
cat_proba = cnb.predict_proba(X_train_cat)
print(np.shape(cat_proba))

(776, 2)

# num train

In [18]:
gnb = GaussianNB()
gnb.fit(X_train_num, y_train_num)
num_proba = gnb.predict_proba(X_train_num)
print(np.shape(num_proba))

(776, 2)

In [1]:
hbda_stack = np.hstack((num_proba, cat_proba))
print(np.shape(hbda_stack))
gnb_gdeed = GaussianNB()
gnb_gdeed.fit(hbda_stack, y_train)
y_predict = gnb_gdeed.predict(X_test)
precision, recall = precision_score(y_test, y_predict), recall_score(y_test, y_predict)
roc_auc = roc_auc_score(y_test, y_predict)
F1 = 2 * (precision * recall) / (precision + recall)
print(y_predict)
print(y_test.values)
precision, recall, F1, roc_auc

NameError: name 'np' is not defined

## New Start for my Sanity

In [16]:
import pandas as pd
import numpy as np
import scipy 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import precision_score, recall_score,roc_auc_score, accuracy_score, f1_score
from sklearn.naive_bayes import GaussianNB, CategoricalNB, MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from random import randint

%matplotlib inline

In [17]:
df = pd.read_csv('data.csv',index_col=0)
df.columns

Index(['location', 'country', 'gender', 'age', 'vis_wuhan', 'from_wuhan',
       'symptom1', 'symptom2', 'symptom3', 'symptom4', 'symptom5', 'symptom6',
       'diff_sym_hos', 'result'],
      dtype='object')

In [18]:
for i in range(len(df)):
    df.iloc[i, 12] = df.iloc[i,12]*-1 if df.iloc[i, 12] < 0 else df.iloc[i, 12]
df['gender'] = df['gender'].mask(df['gender'] == 2, 1)

In [19]:
columns = ['symptom1', 'symptom2', 'symptom3', 'symptom4', 'symptom5', 'symptom6', 'location', 'country']
df_new = df.copy()
for i in columns:
    encoding = pd.get_dummies(df[i], prefix=i)
    df_new = df_new.join(encoding)
    df_new.drop(i, axis=1, inplace=True)
df_new

,gender,age,vis_wuhan,from_wuhan,diff_sym_hos,result,symptom1_0,symptom1_1,symptom1_2,symptom1_3,...,country_24,country_25,country_26,country_27,country_28,country_29,country_30,country_31,country_32,country_33
0,1,66.0,1,0,8,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,56.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,46.0,0,1,13,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,60.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,58.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
858,1,24.0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
859,1,35.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
860,1,49.4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
861,1,49.4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
862,1,70.0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [23]:
scaler = MinMaxScaler()
df_new['age'] = scaler.fit_transform(df_new['age' ].to_numpy()[:,np.newaxis])[:,0]
df_new['diff_sym_hos'] = scaler.fit_transform(df_new['diff_sym_hos'].to_numpy()[:,np.newaxis])[:,0]

In [24]:
x = df_new.drop('result', axis=1)
y = df_new['result']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.1,shuffle=True, random_state=42)

In [25]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_predict = gnb.predict(X_test)
precision, recall = precision_score(y_test, y_predict,average=None), recall_score(y_test, y_predict,average=None)
roc_auc = roc_auc_score(y_test, y_predict)
F1 = f1_score(y_test,y_predict)
#print(y_predict)
#print(y_test.values)
precision, recall, F1, roc_auc

(array([0.97368421, 0.18367347]),
 array([0.48051948, 0.9       ]),
 0.30508474576271183,
 0.6902597402597402)